<html>
    <head>
        <title>✉️ TempMail Client</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <script src="{{ url_for('static', filename='js/server_requests.js') }}"></script>
    </head>
    <body>

        <div class="content">
            <div class="container">

                <header>
                    <div class="title">
                        TempMail Client
                    </div>
                </header>

                {% block content %}
                {% endblock %}

                <footer>

                </footer>

            </div>
        </div>

    </body>
</html>