{% extends 'base.html' %}

{% block content %}

    <div class="main-page">
        <table class="emailbox-table">

            <thead class="head">
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Subject</th>
                </tr>
            </thead>

            <tbody class="body">
                {% for email in emailList %}
                    <tr class="email-note">
                        <td>
                            <a
                                    class="download"
                                    href="/email/download?mail={{ email.login }}@{{ email.domain }}&id={{ email.emailId }}"
                            >GET</a>

                            <a
                                    class="delete"
                                    onclick="deleteEmail('{{ email.emailId }}');"
                            >DEl</a>
                        </td>
                        <td class="date">{{ email.date }}</td>
                        <td>{{ email.frommail }}</td>
                        <td>{{ email.login }}@{{ email.domain }}</td>
                        <td class="subject long-text-container">{{ email.subject }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        <div class="mailbox-list">
            <div class="list">
                {% for mail in mailList %}
                    <div class="mail">
                        <div class="mail-text">{{ mail.mail }}</div>
                        <button class="delete-mail" onclick="deleteMailFromList('{{ mail.mail }}');">X</button>
                    </div>
                {% endfor %}
            </div>

            <div class="buttons">
                <button
                        class="add-mail-button" id="addmailbutton"
                        onclick="addMailToList();">
                    Add
                </button>

                <button
                        class="delete-all-mails-button" id="deleteallmailsbutton"
                        onclick="deleteAllMails();">
                    Delete all
                </button>
            </div>
        </div>
    </div>

{% endblock %}