{% extends 'base.html' %}

{% block body %}
    <div class="mailbox">
        {% if email2read %}
            <div class="letter">
                <div class="from">{{ email2read.frommail }} to {{ email2read.login }}@{{ email2read.domain }}</div>
                <div class="subject">{{ email2read.subject }}</div>
                <div class="subject">{{ email2read.body }}</div>
            </div>
        {% else %}
            <div class="count">You have {{ emailsCount }} in the mailbox.</div>

            {% for email in emailList %}
                <a class="email" href="/read?mail={{ email.login }}@{{ email.domain }}&id={{ email.ID }}">
                    <div class="date">{{ email.date }}</div>
                    <div class="mail">{{ email.login }}@{{ email.domain }}</div>
                    <div class="from">{{ email.frommail }}</div>
                    <div class="subject">{{ email.subject }}</div>
                </a>
            {% endfor %}
        {% endif %}
    </div>

    <div class="mail-list">
        {% if mailsCount != 0 %}
            <div class="title">
                Available Emails:
            </div>

            <a class="view-from-all-button" href="/" onclick="loadingMessage();">View from all</a>

            <div class="mails">
                {% for mail in mailList %}
                    <div class="mail">
                        <a class="mail
                           {% if mail.mail == choosen %}choosen{% endif %}"
                           href="?from={{ mail.mail }}" onclick="loadingMessage();"
                        >{{ mail.mail }}</a>
                        <button class="delete-mail" onclick="deleteMail('{{ mail.mail }}')">X</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <button class="add-mail" onclick="addMail()">Add mail</button>
    </div>
{% endblock %}